@font-face {
    font-family: 'digital-7regular';
    font-style: normal;
    font-weight: normal;
    src: url('digital-7-webfont.woff2') format('woff2'),
      url('digital-7-webfont.woff') format('woff');
  }